body{
    /* The image used */
    /*background-image: url("../img/linkholdingfood.jpg");*/

    /*!* Full height *!*/
    /*height: 100%;*/

    /*!* Create the parallax scrolling effect *!*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

}
.botwlogo {
    width:300px;
    height:140px;
}
.topparallax{
    background-image: url("../img/linkholdingfood.jpg");
    height:1000px;
    width:100%;
    /* Full height */


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gifpicture{
    height: 450px;
    width: 750px;
    background-image: url("../img/zelda.gif");
    background-size:contain;
    background-repeat:no-repeat;
    position:fixed;
    left:490px;
    top:235px;
    display:none;
}
.midparallax{
    /*background-image: url("../img/zeldacook.jpg");*/
    background-color:black;
    height:10000px;
    width:100%;
    /* Full height */


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.botparallax{
    background-image: url("../img/zeldafinish.jpg");
    height:1000px;
    width:100%;

    /* Full height */


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
/* INCLUDE HYLIA FONT */
@font-face {
    font-family:Hylia;
    src: url('../Hylia/Hylia.otf')
}
button#submit{
    bottom:0;
    margin-left:63em;
    margin-top:5em;
    height:50px;
    width:100px;
    font-family:Hylia;
    background-color:#998866;
}
select.select{
    background-color:#998866;
    font-family:Hylia;
    font-size:20px;
}
.navigation{
    background-color:black;
    width:100%;
    display:flex;
    color:orange;
    height:140px;
    opacity:0.8;

}
h1.pagetitle{
    font-family:Hylia;
    color:#998866;
    font-size:100px;
    margin:0 auto;
    padding-right:3em;
}
h1.formheader{
    font-family:Hylia;
    color:#998866;
    font-size:60px;
    margin:0 auto;
    padding-left:6.5em;
}
p.instructions{
    font-family:Hylia;
    color:#998866;
    font-size:20px;
    text-align:center;
}
.cookingpot{

    float:right;
}

.socialmedia{
    background-color:black;
    width:4.5em;
    color:orange;
    height:28em;
    margin-top:5em;
    position:fixed;

}
.formstyle{
    background-color:black;
    height:28em;
    margin-left:7em;
    width:92em;
    margin-top:5em;
    position:absolute;
    opacity:0.85;
}

.middlepage {
    width: 100%;
    display: flex;
}
.parallax{
    width:91.7%;
    margin-left:7em;
    margin-right:7em;
}
.parallaxpicture{


}
.pictures {
}

h2.formheader{
    font-family:Hylia;
    color:#998866;
    font-size:60px;
    margin:0 auto;
    padding-left:10.5em;
}


.bottompage{
    width:91.7%;
    margin-left:7em;
}

.formreturnheader{
    background-color:teal;
    height:7.5em;
    margin-bottom:0;
}
.returndata{
    display: none;
    width: 92vw;
    margin-left: 7em;
    margin-top: 5em;
    background-color:black;
    height:60vh;
}


a#returntotop{
    font-size: 20px;
    font-family:Hylia;
    color:#998866;
    margin-left:31.5em;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    body{
        text-align:center;}

    .topparallax{width: 1600px;height: 2900px;}

    /* Full height */


        /* Create the parallax scrolling effect */
        background-size: cover;
    }


    /* make method headers smaller */
}
@media only screen and (min-width: 481px) and (max-width: 720px)
{
    body{
        text-align:center;
    }
    .topparallax{width: 1600px;height: 2900px;}


@media only screen and (min-width: 720px) and (max-width: 1028px) {
    body {
        text-align: center;
    }

    h1.pagetitle {
        font-family: Hylia;
        color: #998866;
        font-size: 125px;
        text-align: center;
        margin-left: 1em;
    }

    img {
        width: 500px;
        height: 350px;
    }

    .topparallax {
        width: 1600px;
        height: 2900px;
    }

    .formstyle {
        background-color: black;
        height: 100em;
        margin-top: 40em;
        position: absolute;
        opacity: 0.85;
        margin-left: 0;
        width: 100em;
    }

    .socialmedia {
        background-color: black;
        width: 100em;
        color: orange;
        height: 25em;
        margin-top: 150em;
        position: fixed;
    }

    .navigation {
        background-color: black;
        width: 100%;
        display: flex;
        height: 22em;
        opacity: 0.8;
    }
}

